USE [master]
GO
/****** Object:  Database [personal_finance]    Script Date: 9/13/2026 10:20:35 AM ******/
CREATE DATABASE [personal_finance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'personal_finance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\personal_finance.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'personal_finance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\personal_finance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [personal_finance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [personal_finance]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 9/13/2026 10:20:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[account_id] [uniqueidentifier] NOT NULL,
	[category_id] [uniqueidentifier] NULL,
	[invoice_id] [uniqueidentifier] NULL,
	[description] [nvarchar](255) NOT NULL,
	[amount] [decimal](19, 2) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[source] [varchar](20) NOT NULL,
	[transaction_date] [date] NOT NULL,
	[note] [nvarchar](1000) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[kind] [varchar](20) NOT NULL,
	[transfer_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_monthly_cashflow]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_monthly_cashflow]
AS
SELECT
    t.user_id,
    DATEFROMPARTS(YEAR(t.transaction_date), MONTH(t.transaction_date), 1) AS month_start,

    SUM
    (
        CASE
            WHEN t.type = 'INCOME'
            THEN t.amount
            ELSE 0
        END
    ) AS total_income,

    SUM
    (
        CASE
            WHEN t.type = 'EXPENSE'
            THEN ABS(t.amount)
            ELSE 0
        END
    ) AS total_expense,

    SUM(t.amount) AS net_cashflow,

    CAST
    (
        CASE
            WHEN SUM(CASE WHEN t.type = 'INCOME' THEN t.amount ELSE 0 END) <= 0
                THEN NULL
            ELSE
                100.0 * SUM(t.amount)
                / NULLIF(SUM(CASE WHEN t.type = 'INCOME' THEN t.amount ELSE 0 END), 0)
        END
        AS DECIMAL(9, 2)
    ) AS savings_rate_percent,

    COUNT_BIG(*) AS transaction_count

FROM dbo.transactions AS t
WHERE t.kind = 'NORMAL'
GROUP BY
    t.user_id,
    DATEFROMPARTS(YEAR(t.transaction_date), MONTH(t.transaction_date), 1);

GO
/****** Object:  Table [dbo].[categories]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [uniqueidentifier] NOT NULL,
	[owner_user_id] [uniqueidentifier] NULL,
	[name] [nvarchar](100) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[icon] [nvarchar](100) NULL,
	[color] [varchar](20) NULL,
	[sort_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_monthly_category_spending]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_monthly_category_spending]
AS
SELECT
    t.user_id,
    t.category_id,
    c.name AS category_name,
    c.icon AS category_icon,
    c.color AS category_color,

    DATEFROMPARTS(YEAR(t.transaction_date), MONTH(t.transaction_date), 1) AS month_start,

    SUM(ABS(t.amount)) AS total_spent,
    COUNT_BIG(*) AS transaction_count

FROM dbo.transactions AS t

LEFT JOIN dbo.categories AS c
    ON c.id = t.category_id

WHERE t.type = 'EXPENSE' AND t.kind = 'NORMAL'

GROUP BY
    t.user_id,
    t.category_id,
    c.name,
    c.icon,
    c.color,
    DATEFROMPARTS(YEAR(t.transaction_date), MONTH(t.transaction_date), 1);

GO
/****** Object:  Table [dbo].[budgets]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[budgets](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[category_id] [uniqueidentifier] NULL,
	[name] [nvarchar](150) NOT NULL,
	[amount_limit] [decimal](19, 2) NOT NULL,
	[currency] [char](3) NOT NULL,
	[period_type] [varchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[warning_percent] [decimal](5, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_budgets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_budget_progress]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_budget_progress]
AS
SELECT
    b.id AS budget_id,
    b.user_id,
    b.category_id,
    b.name AS budget_name,
    b.amount_limit,
    b.currency,
    b.period_type,
    b.start_date,
    b.end_date,
    b.warning_percent,
    b.is_active,

    COALESCE(x.spent_amount, 0) AS spent_amount,

    b.amount_limit - COALESCE(x.spent_amount, 0) AS remaining_amount,

    CAST
    (
        100.0 * COALESCE(x.spent_amount, 0)
        / NULLIF(b.amount_limit, 0)
        AS DECIMAL(9, 2)
    ) AS usage_percent,

    CASE
        WHEN COALESCE(x.spent_amount, 0) > b.amount_limit
            THEN 'EXCEEDED'
        WHEN
            100.0 * COALESCE(x.spent_amount, 0)
            / NULLIF(b.amount_limit, 0) >= b.warning_percent
            THEN 'WARNING'
        ELSE 'SAFE'
    END AS progress_status

FROM dbo.budgets AS b

OUTER APPLY
(
    SELECT
        SUM(ABS(t.amount)) AS spent_amount
    FROM dbo.transactions AS t
    WHERE
        t.user_id = b.user_id
        AND t.type = 'EXPENSE' AND t.kind = 'NORMAL'
        AND t.transaction_date BETWEEN b.start_date AND b.end_date
        AND
        (
            b.category_id IS NULL
            OR t.category_id = b.category_id
        )
) AS x;

GO
/****** Object:  Table [dbo].[accounts]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[account_type] [varchar](30) NOT NULL,
	[institution_name] [nvarchar](150) NULL,
	[balance] [decimal](19, 2) NOT NULL,
	[currency] [char](3) NOT NULL,
	[icon] [nvarchar](100) NULL,
	[color] [varchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alembic_version]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alembic_version](
	[version_num] [varchar](32) NOT NULL,
 CONSTRAINT [alembic_version_pkc] PRIMARY KEY CLUSTERED 
(
	[version_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[action] [nvarchar](100) NOT NULL,
	[entity_type] [nvarchar](100) NULL,
	[entity_id] [uniqueidentifier] NULL,
	[request_id] [uniqueidentifier] NULL,
	[route] [nvarchar](500) NULL,
	[http_method] [varchar](10) NULL,
	[status_code] [smallint] NULL,
	[ip_address] [varchar](45) NULL,
	[user_agent] [nvarchar](1000) NULL,
	[old_values_json] [nvarchar](max) NULL,
	[new_values_json] [nvarchar](max) NULL,
	[metadata_json] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_audit_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[background_jobs]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[background_jobs](
	[id] [uniqueidentifier] NOT NULL,
	[kind] [varchar](30) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[dedupe_key] [varchar](200) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[attempts] [int] NOT NULL,
	[available_at] [datetime] NOT NULL,
	[lease_until] [datetime] NULL,
	[lease_token] [uniqueidentifier] NULL,
	[error_code] [varchar](100) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email_logs]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_logs](
	[id] [uniqueidentifier] NOT NULL,
	[recipient] [varchar](255) NOT NULL,
	[subject] [nvarchar](255) NOT NULL,
	[email_type] [varchar](50) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[error_message] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idempotency_records]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idempotency_records](
	[user_id] [uniqueidentifier] NOT NULL,
	[request_key] [varchar](128) NOT NULL,
	[payload_hash] [varchar](64) NOT NULL,
	[response_json] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[request_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_items]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_items](
	[id] [uniqueidentifier] NOT NULL,
	[invoice_id] [uniqueidentifier] NOT NULL,
	[line_no] [int] NOT NULL,
	[name] [nvarchar](500) NOT NULL,
	[sku] [nvarchar](100) NULL,
	[unit] [nvarchar](50) NULL,
	[quantity] [decimal](18, 4) NULL,
	[unit_price] [decimal](19, 2) NULL,
	[discount_amount] [decimal](19, 2) NULL,
	[tax_amount] [decimal](19, 2) NULL,
	[line_total] [decimal](19, 2) NULL,
	[confidence] [decimal](5, 4) NULL,
	[raw_text] [nvarchar](1000) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_invoice_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[parent_id] [uniqueidentifier] NULL,
	[account_id] [uniqueidentifier] NULL,
	[category_id] [uniqueidentifier] NULL,
	[source] [varchar](20) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[merchant_name] [nvarchar](255) NULL,
	[merchant_address] [nvarchar](500) NULL,
	[merchant_tax_code] [nvarchar](100) NULL,
	[invoice_number] [nvarchar](100) NULL,
	[invoice_date] [date] NULL,
	[subtotal_amount] [decimal](19, 2) NULL,
	[tax_amount] [decimal](19, 2) NULL,
	[discount_amount] [decimal](19, 2) NULL,
	[total_amount] [decimal](19, 2) NULL,
	[currency] [char](3) NOT NULL,
	[original_filename] [nvarchar](255) NULL,
	[storage_key] [nvarchar](1000) NULL,
	[mime_type] [nvarchar](100) NULL,
	[file_size_bytes] [bigint] NULL,
	[ocr_provider] [nvarchar](100) NULL,
	[ocr_model] [nvarchar](150) NULL,
	[ocr_confidence] [decimal](5, 4) NULL,
	[ocr_raw_text] [nvarchar](max) NULL,
	[extracted_json] [nvarchar](max) NULL,
	[note] [nvarchar](1000) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[confirmed_at] [datetime2](0) NULL,
 CONSTRAINT [PK_invoices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ocr_jobs]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocr_jobs](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[invoice_id] [uniqueidentifier] NULL,
	[status] [varchar](30) NOT NULL,
	[provider] [nvarchar](100) NULL,
	[model_name] [nvarchar](150) NULL,
	[attempt_count] [int] NOT NULL,
	[progress_percent] [tinyint] NOT NULL,
	[error_code] [nvarchar](100) NULL,
	[error_message] [nvarchar](2000) NULL,
	[request_json] [nvarchar](max) NULL,
	[response_json] [nvarchar](max) NULL,
	[started_at] [datetime2](0) NULL,
	[completed_at] [datetime2](0) NULL,
	[processing_ms] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ocr_jobs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_otps]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_otps](
	[id] [uniqueidentifier] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[otp_code] [varchar](64) NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[is_used] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[failed_attempts] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[token_hash] [varchar](255) NOT NULL,
	[family_id] [uniqueidentifier] NOT NULL,
	[parent_token_id] [uniqueidentifier] NULL,
	[expires_at] [datetime2](0) NOT NULL,
	[revoked_at] [datetime2](0) NULL,
	[revocation_reason] [nvarchar](255) NULL,
	[device_name] [nvarchar](150) NULL,
	[ip_address] [varchar](45) NULL,
	[user_agent] [nvarchar](1000) NULL,
	[last_used_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_refresh_tokens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schema_migrations]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schema_migrations](
	[version] [varchar](100) NOT NULL,
	[applied_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[id] [uniqueidentifier] NOT NULL,
	[key] [nvarchar](100) NOT NULL,
	[value] [nvarchar](max) NULL,
	[description] [nvarchar](500) NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/13/2026 10:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](500) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[last_active_at] [datetime2](7) NULL,
	[must_change_password] [bit] NOT NULL,
	[token_version] [int] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[accounts] ([id], [user_id], [name], [account_type], [institution_name], [balance], [currency], [icon], [color], [is_active], [created_at], [updated_at]) VALUES (N'2c2ae655-0ff5-42f0-95d5-182524f2c598', N'fc0a94ea-cc17-4446-b7ce-9d852a48874a', N'Test Bank', N'BANK', NULL, CAST(1000000.00 AS Decimal(19, 2)), N'VND', NULL, N'#000000', 1, CAST(N'2026-08-25T07:30:41.0000000' AS DateTime2), CAST(N'2026-08-25T07:30:41.0000000' AS DateTime2))
INSERT [dbo].[accounts] ([id], [user_id], [name], [account_type], [institution_name], [balance], [currency], [icon], [color], [is_active], [created_at], [updated_at]) VALUES (N'2ea3423c-a481-424f-827b-252b3a8a529f', N'fc0a94ea-cc17-4446-b7ce-9d852a48874a', N'Vietcombank', N'BANK', NULL, CAST(230300000.00 AS Decimal(19, 2)), N'VND', NULL, NULL, 1, CAST(N'2026-08-25T04:27:14.0000000' AS DateTime2), CAST(N'2026-08-25T04:27:14.0000000' AS DateTime2))
INSERT [dbo].[accounts] ([id], [user_id], [name], [account_type], [institution_name], [balance], [currency], [icon], [color], [is_active], [created_at], [updated_at]) VALUES (N'8cb42c8c-ff92-489e-8405-358fb4a07206', N'fc0a94ea-cc17-4446-b7ce-9d852a48874a', N'Test Bank', N'BANK', NULL, CAST(1000000.00 AS Decimal(19, 2)), N'VND', NULL, N'#000000', 1, CAST(N'2026-08-25T07:29:17.0000000' AS DateTime2), CAST(N'2026-08-25T07:29:17.0000000' AS DateTime2))
GO
INSERT [dbo].[alembic_version] ([version_num]) VALUES (N'da10f25d5743')
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([id], [user_id], [action], [entity_type], [entity_id], [request_id], [route], [http_method], [status_code], [ip_address], [user_agent], [old_values_json], [new_values_json], [metadata_json], [created_at]) VALUES (1, N'fc0a94ea-cc17-4446-b7ce-9d852a48874a', N'BAN_USER', N'user', N'42335669-0657-46d8-b3fa-ac4ff253b7f8', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2026-09-03T01:32:06.0000000' AS DateTime2))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [entity_type], [entity_id], [request_id], [route], [http_method], [status_code], [ip_address], [user_agent], [old_values_json], [new_values_json], [metadata_json], [created_at]) VALUES (2, N'fc0a94ea-cc17-4446-b7ce-9d852a48874a', N'BAN_USER', N'user', N'42335669-0657-46d8-b3fa-ac4ff253b7f8', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2026-09-03T01:32:16.0000000' AS DateTime2))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [entity_type], [entity_id], [request_id], [route], [http_method], [status_code], [ip_address], [user_agent], [old_values_json], [new_values_json], [metadata_json], [created_at]) VALUES (3, N'fc0a94ea-cc17-4446-b7ce-9d852a48874a', N'UNBAN_USER', N'user', N'42335669-0657-46d8-b3fa-ac4ff253b7f8', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2026-09-03T01:35:51.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
INSERT [dbo].[background_jobs] ([id], [kind], [payload], [dedupe_key], [status], [attempts], [available_at], [lease_until], [lease_token], [error_code], [created_at]) VALUES (N'ce7d55b7-d64d-4e92-a9bf-0ca59c39edd1', N'EMAIL', N'', N'f86613dd-a768-4b9b-932b-5b5d403c92d8', N'DONE', 1, CAST(N'2026-09-11T08:39:22.820' AS DateTime), NULL, NULL, NULL, CAST(N'2026-09-11T08:39:22.823' AS DateTime))
INSERT [dbo].[background_jobs] ([id], [kind], [payload], [dedupe_key], [status], [attempts], [available_at], [lease_until], [lease_token], [error_code], [created_at]) VALUES (N'a9eb55c4-237c-4bc2-a30c-2b54b5023853', N'EMAIL', N'', N'c359acc9-d905-480f-a1e2-3068af87deb7', N'DONE', 1, CAST(N'2026-09-11T08:17:54.983' AS DateTime), NULL, NULL, NULL, CAST(N'2026-09-11T08:17:54.987' AS DateTime))
INSERT [dbo].[background_jobs] ([id], [kind], [payload], [dedupe_key], [status], [attempts], [available_at], [lease_until], [lease_token], [error_code], [created_at]) VALUES (N'075f5540-3807-432f-b48e-2c0f730ebf39', N'OCR', N'', N'ocr:aa7ecac1-f317-4415-82e2-dbd793d25ba1', N'DONE', 1, CAST(N'2026-09-12T02:37:48.753' AS DateTime), NULL, NULL, NULL, CAST(N'2026-09-12T02:37:48.757' AS DateTime))
GO
INSERT [dbo].[categories] ([id], [owner_user_id], [name], [type], [icon], [color], [sort_order], [is_active], [created_at], [updated_at]) VALUES (N'7a0f6eaa-01d7-4c48-9fe4-216e6900046e', NULL, N'Nhà ?', N'EXPENSE', N'??', NULL, 0, 1, CAST(N'2026-08-25T04:21:33.0000000' AS DateTime2), CAST(N'2026-08-25T04:21:33.0000000' AS DateTime2))
INSERT [dbo].[categories] ([id], [owner_user_id], [name], [type], [icon], [color], [sort_order], [is_active], [created_at], [updated_at]) VALUES (N'dd5e1a17-970a-44ae-af3c-2ed0726d8f76', NULL, N'Thu nh?p khác', N'INCOME', N'??', NULL, 0, 1, CAST(N'2026-08-25T04:21:33.0000000' AS DateTime2), CAST(N'2026-08-25T04:21:33.0000000' AS DateTime2))
INSERT [dbo].[categories] ([id], [owner_user_id], [name], [type], [icon], [color], [sort_order], [is_active], [created_at], [updated_at]) VALUES (N'553cdec9-1e77-484a-a3c5-447559f789ab', NULL, N'Giáo d?c', N'EXPENSE', N'??', NULL, 0, 1, CAST(N'2026-08-25T04:21:33.0000000' AS DateTime2), CAST(N'2026-08-25T04:21:33.0000000' AS DateTime2))
GO
INSERT [dbo].[email_logs] ([id], [recipient], [subject], [email_type], [status], [error_message], [created_at], [user_id]) VALUES (N'b30d851f-cba6-431d-95b9-01973749e4ff', N'danghongquang2607@gmail.com', N'🔑 Cấp lại mật khẩu kích hoạt tạm thời - CapitalFlow', N'RESET_PASSWORD_TEMP', N'SENT', NULL, CAST(N'2026-09-11T04:26:20.397' AS DateTime), N'42335669-0657-46d8-b3fa-ac4ff253b7f8')
INSERT [dbo].[email_logs] ([id], [recipient], [subject], [email_type], [status], [error_message], [created_at], [user_id]) VALUES (N'e5904f67-cd1c-4b84-b629-0cebf251b23c', N'force_test_96dcc0@gmail.com', N'🎉 Tài khoản CapitalFlow của bạn đã được khởi tạo bởi Quản trị viên', N'ACCOUNT_CREATED', N'SENT', NULL, CAST(N'2026-09-05T03:46:02.820' AS DateTime), N'068751e1-94ee-4a05-ba40-9a8d2824da8a')
INSERT [dbo].[email_logs] ([id], [recipient], [subject], [email_type], [status], [error_message], [created_at], [user_id]) VALUES (N'a12f47b9-8c8d-476b-99f8-101eda1b4a70', N'quangdanghong14@gmail.com', N'Thông báo mở khóa tài khoản', N'ACCOUNT_UNBANNED', N'FAILED', N'(535, b''5.7.8 Username and Password not accepted. For more information, go to\n5.7.8  https://support.google.com/mail/?p=BadCredentials d2e1a72fcca58-8614c699735sm7867742b3a.0 - gsmtp'')', CAST(N'2026-09-10T09:45:15.927' AS DateTime), N'b0532027-9c55-4f9e-a7ab-0383822e7237')
GO
INSERT [dbo].[invoice_items] ([id], [invoice_id], [line_no], [name], [sku], [unit], [quantity], [unit_price], [discount_amount], [tax_amount], [line_total], [confidence], [raw_text], [created_at], [updated_at]) VALUES (N'48670601-adbc-4cd1-aebb-193d22101aa3', N'ddb84b44-c757-4f74-9965-25c204b0c07b', 2, N'D?ch v? d?u theo gi?', NULL, NULL, CAST(4.0000 AS Decimal(18, 4)), CAST(18519.00 AS Decimal(19, 2)), NULL, NULL, CAST(74074.00 AS Decimal(19, 2)), NULL, NULL, CAST(N'2026-09-11T08:41:14.0000000' AS DateTime2), CAST(N'2026-09-11T08:41:14.0000000' AS DateTime2))
INSERT [dbo].[invoice_items] ([id], [invoice_id], [line_no], [name], [sku], [unit], [quantity], [unit_price], [discount_amount], [tax_amount], [line_total], [confidence], [raw_text], [created_at], [updated_at]) VALUES (N'8d7bbb35-73d2-4a14-9e06-3ad1310da9bc', N'ddb84b44-c757-4f74-9965-25c204b0c07b', 1, N'D?ch v? xe qua b?n', NULL, NULL, CAST(24.0000 AS Decimal(18, 4)), CAST(9100.00 AS Decimal(19, 2)), NULL, NULL, CAST(218400.00 AS Decimal(19, 2)), NULL, NULL, CAST(N'2026-09-11T08:41:14.0000000' AS DateTime2), CAST(N'2026-09-11T08:41:14.0000000' AS DateTime2))
INSERT [dbo].[invoice_items] ([id], [invoice_id], [line_no], [name], [sku], [unit], [quantity], [unit_price], [discount_amount], [tax_amount], [line_total], [confidence], [raw_text], [created_at], [updated_at]) VALUES (N'56ad39a8-5a73-4ff6-a36b-62dee4b37efd', N'7e4c769c-1f3f-48de-ba91-95f0b2f2669c', 2, N'Bánh Mì Th?p C?m Phúc Long', NULL, NULL, CAST(1.0000 AS Decimal(18, 4)), CAST(45000.00 AS Decimal(19, 2)), NULL, NULL, CAST(45000.00 AS Decimal(19, 2)), NULL, NULL, CAST(N'2026-09-11T09:17:21.0000000' AS DateTime2), CAST(N'2026-09-11T09:17:21.0000000' AS DateTime2))
GO
INSERT [dbo].[password_reset_otps] ([id], [email], [otp_code], [expires_at], [is_used], [created_at], [user_id], [failed_attempts]) VALUES (N'824c24c9-42de-45fd-87cc-06c9d4cf19e8', N'danghongquang2607@gmail.com', N'901774', CAST(N'2026-09-04T10:00:00.030' AS DateTime), 1, CAST(N'2026-09-04T09:50:00.030' AS DateTime), N'42335669-0657-46d8-b3fa-ac4ff253b7f8', 0)
INSERT [dbo].[password_reset_otps] ([id], [email], [otp_code], [expires_at], [is_used], [created_at], [user_id], [failed_attempts]) VALUES (N'd6991c58-5b92-4960-b455-0d77ca2aa959', N'danghongquang2607@gmail.com', N'321144', CAST(N'2026-09-05T03:04:59.107' AS DateTime), 1, CAST(N'2026-09-05T02:54:59.107' AS DateTime), N'42335669-0657-46d8-b3fa-ac4ff253b7f8', 0)
INSERT [dbo].[password_reset_otps] ([id], [email], [otp_code], [expires_at], [is_used], [created_at], [user_id], [failed_attempts]) VALUES (N'bb085ea6-2380-47b4-a6ee-41d38e28de80', N'danghongquang2607@gmail.com', N'4348c3e75a36fc0de1c4381b902b5167a312f3595243aaf5830d559c70eaf33b', CAST(N'2026-09-11T08:23:25.243' AS DateTime), 1, CAST(N'2026-09-11T08:13:25.243' AS DateTime), N'42335669-0657-46d8-b3fa-ac4ff253b7f8', 0)
GO
INSERT [dbo].[schema_migrations] ([version], [applied_at]) VALUES (N'20260910_financial_integrity', CAST(N'2026-09-10T08:40:17.9565109' AS DateTime2))
INSERT [dbo].[schema_migrations] ([version], [applied_at]) VALUES (N'20260910_resilience', CAST(N'2026-09-11T01:31:07.0307679' AS DateTime2))
GO
INSERT [dbo].[users] ([id], [email], [full_name], [password_hash], [role], [is_active], [last_login_at], [created_at], [updated_at], [last_active_at], [must_change_password], [token_version]) VALUES (N'1bbae19a-1974-4f49-812f-508667112663', N'lethihai13091963@gmail.com', N'Lê Thị Hải', N'$argon2id$v=19$m=65536,t=3,p=4$wRY8VfJ0KisFpNK5iS07aw$Y2n/gmC04YZtCgxm+LgbvURPBIViZe1l+8H0UBYReTQ', N'USER', 0, CAST(N'2026-09-11T08:37:04.0000000' AS DateTime2), CAST(N'2026-09-11T08:33:57.0000000' AS DateTime2), CAST(N'2026-09-11T09:17:31.0000000' AS DateTime2), NULL, 0, 3)
GO
/****** Object:  Index [IX_accounts_user]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_accounts_user] ON [dbo].[accounts]
(
	[user_id] ASC,
	[is_active] ASC
)
INCLUDE([name],[account_type],[institution_name],[balance],[currency],[icon],[color]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_accounts_user_type]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_accounts_user_type] ON [dbo].[accounts]
(
	[user_id] ASC,
	[account_type] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_logs_created_at]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_created_at] ON [dbo].[audit_logs]
(
	[created_at] DESC
)
INCLUDE([user_id],[action],[entity_type],[entity_id],[status_code]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_audit_logs_entity]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_entity] ON [dbo].[audit_logs]
(
	[entity_type] ASC,
	[entity_id] ASC,
	[created_at] DESC
)
INCLUDE([user_id],[action],[request_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_logs_request]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_request] ON [dbo].[audit_logs]
(
	[request_id] ASC
)
WHERE ([request_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_logs_user]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_user] ON [dbo].[audit_logs]
(
	[user_id] ASC,
	[created_at] DESC
)
INCLUDE([action],[entity_type],[entity_id],[request_id],[status_code]) 
WHERE ([user_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__backgrou__BBDAFDB8E81CFAA4]    Script Date: 9/13/2026 10:20:36 AM ******/
ALTER TABLE [dbo].[background_jobs] ADD UNIQUE NONCLUSTERED 
(
	[dedupe_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_background_jobs_poll]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_background_jobs_poll] ON [dbo].[background_jobs]
(
	[status] ASC,
	[available_at] ASC,
	[lease_until] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_budgets_user]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_budgets_user] ON [dbo].[budgets]
(
	[user_id] ASC,
	[is_active] ASC,
	[start_date] DESC,
	[end_date] DESC
)
INCLUDE([category_id],[name],[amount_limit],[currency],[period_type],[warning_percent]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_budgets_user_category_period]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_budgets_user_category_period] ON [dbo].[budgets]
(
	[user_id] ASC,
	[category_id] ASC,
	[start_date] ASC,
	[end_date] ASC
)
INCLUDE([amount_limit],[warning_percent],[is_active]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_budgets_user_category_period]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_budgets_user_category_period] ON [dbo].[budgets]
(
	[user_id] ASC,
	[category_id] ASC,
	[start_date] ASC,
	[end_date] ASC
)
WHERE ([category_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_budgets_user_overall_period]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_budgets_user_overall_period] ON [dbo].[budgets]
(
	[user_id] ASC,
	[start_date] ASC,
	[end_date] ASC
)
WHERE ([category_id] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_categories_owner_user]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_categories_owner_user] ON [dbo].[categories]
(
	[owner_user_id] ASC,
	[is_active] ASC,
	[type] ASC,
	[sort_order] ASC
)
INCLUDE([name],[icon],[color]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_categories_global_name_type]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_categories_global_name_type] ON [dbo].[categories]
(
	[name] ASC,
	[type] ASC
)
WHERE ([owner_user_id] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_categories_user_name_type]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_categories_user_name_type] ON [dbo].[categories]
(
	[owner_user_id] ASC,
	[name] ASC,
	[type] ASC
)
WHERE ([owner_user_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_email_logs_email_type]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [ix_email_logs_email_type] ON [dbo].[email_logs]
(
	[email_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_email_logs_recipient]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [ix_email_logs_recipient] ON [dbo].[email_logs]
(
	[recipient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_email_logs_status]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [ix_email_logs_status] ON [dbo].[email_logs]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_invoice_items_invoice_line]    Script Date: 9/13/2026 10:20:36 AM ******/
ALTER TABLE [dbo].[invoice_items] ADD  CONSTRAINT [UQ_invoice_items_invoice_line] UNIQUE NONCLUSTERED 
(
	[invoice_id] ASC,
	[line_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoice_items_invoice]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_invoice_items_invoice] ON [dbo].[invoice_items]
(
	[invoice_id] ASC,
	[line_no] ASC
)
INCLUDE([name],[quantity],[unit_price],[tax_amount],[line_total],[confidence]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoices_account]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_invoices_account] ON [dbo].[invoices]
(
	[account_id] ASC,
	[invoice_date] DESC
)
WHERE ([account_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoices_category]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_invoices_category] ON [dbo].[invoices]
(
	[category_id] ASC,
	[invoice_date] DESC
)
WHERE ([category_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoices_parent]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_invoices_parent] ON [dbo].[invoices]
(
	[parent_id] ASC,
	[created_at] ASC
)
WHERE ([parent_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoices_user]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_invoices_user] ON [dbo].[invoices]
(
	[user_id] ASC,
	[created_at] DESC
)
INCLUDE([status],[merchant_name],[invoice_date],[total_amount],[currency],[parent_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_invoices_user_status_date]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_invoices_user_status_date] ON [dbo].[invoices]
(
	[user_id] ASC,
	[status] ASC,
	[invoice_date] DESC,
	[created_at] DESC
)
INCLUDE([merchant_name],[invoice_number],[total_amount],[currency],[ocr_confidence]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ocr_jobs_invoice]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_ocr_jobs_invoice] ON [dbo].[ocr_jobs]
(
	[invoice_id] ASC,
	[created_at] DESC
)
WHERE ([invoice_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ocr_jobs_status_created]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_ocr_jobs_status_created] ON [dbo].[ocr_jobs]
(
	[status] ASC,
	[created_at] ASC
)
INCLUDE([user_id],[invoice_id],[provider],[attempt_count],[progress_percent]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ocr_jobs_user_created]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_ocr_jobs_user_created] ON [dbo].[ocr_jobs]
(
	[user_id] ASC,
	[created_at] DESC
)
INCLUDE([status],[invoice_id],[provider],[model_name],[progress_percent],[error_code]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_password_reset_otps_email]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [ix_password_reset_otps_email] ON [dbo].[password_reset_otps]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_refresh_tokens_hash]    Script Date: 9/13/2026 10:20:36 AM ******/
ALTER TABLE [dbo].[refresh_tokens] ADD  CONSTRAINT [UQ_refresh_tokens_hash] UNIQUE NONCLUSTERED 
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refresh_tokens_active]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_refresh_tokens_active] ON [dbo].[refresh_tokens]
(
	[user_id] ASC,
	[expires_at] ASC
)
WHERE ([revoked_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refresh_tokens_family]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_refresh_tokens_family] ON [dbo].[refresh_tokens]
(
	[family_id] ASC,
	[created_at] DESC
)
INCLUDE([user_id],[expires_at],[revoked_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refresh_tokens_user_expiry]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_refresh_tokens_user_expiry] ON [dbo].[refresh_tokens]
(
	[user_id] ASC,
	[expires_at] DESC
)
INCLUDE([revoked_at],[family_id],[device_name],[last_used_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__system_s__DFD83CAF4F2F15F7]    Script Date: 9/13/2026 10:20:36 AM ******/
ALTER TABLE [dbo].[system_settings] ADD UNIQUE NONCLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_system_settings_key]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_system_settings_key] ON [dbo].[system_settings]
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_transactions_date]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_transactions_date] ON [dbo].[transactions]
(
	[transaction_date] DESC
)
INCLUDE([user_id],[category_id],[amount],[type]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_transactions_reporting]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_transactions_reporting] ON [dbo].[transactions]
(
	[user_id] ASC,
	[kind] ASC,
	[transaction_date] ASC
)
INCLUDE([type],[amount],[category_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_transactions_user_account_date]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_transactions_user_account_date] ON [dbo].[transactions]
(
	[user_id] ASC,
	[account_id] ASC,
	[transaction_date] DESC
)
INCLUDE([category_id],[amount],[type],[description]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_transactions_user_category_date]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_transactions_user_category_date] ON [dbo].[transactions]
(
	[user_id] ASC,
	[category_id] ASC,
	[transaction_date] DESC
)
INCLUDE([account_id],[amount],[type],[description]) 
WHERE ([category_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_transactions_user_date]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_transactions_user_date] ON [dbo].[transactions]
(
	[user_id] ASC,
	[transaction_date] DESC,
	[created_at] DESC
)
INCLUDE([account_id],[category_id],[invoice_id],[description],[amount],[type],[source]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_transactions_user_type_date]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_transactions_user_type_date] ON [dbo].[transactions]
(
	[user_id] ASC,
	[type] ASC,
	[transaction_date] DESC
)
INCLUDE([amount],[category_id],[account_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_transactions_invoice]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_transactions_invoice] ON [dbo].[transactions]
(
	[invoice_id] ASC
)
WHERE ([invoice_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_transactions_transfer_leg]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_transactions_transfer_leg] ON [dbo].[transactions]
(
	[transfer_id] ASC,
	[type] ASC
)
WHERE ([transfer_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_role_active]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_users_role_active] ON [dbo].[users]
(
	[role] ASC,
	[is_active] ASC
)
INCLUDE([email],[full_name],[last_login_at],[created_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_users_email]    Script Date: 9/13/2026 10:20:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_balance]  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_currency]  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[audit_logs] ADD  CONSTRAINT [DF_audit_logs_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[background_jobs] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[budgets] ADD  CONSTRAINT [DF_budgets_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[budgets] ADD  CONSTRAINT [DF_budgets_currency]  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[budgets] ADD  CONSTRAINT [DF_budgets_period_type]  DEFAULT ('MONTHLY') FOR [period_type]
GO
ALTER TABLE [dbo].[budgets] ADD  CONSTRAINT [DF_budgets_warning_percent]  DEFAULT ((80.00)) FOR [warning_percent]
GO
ALTER TABLE [dbo].[budgets] ADD  CONSTRAINT [DF_budgets_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[budgets] ADD  CONSTRAINT [DF_budgets_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[budgets] ADD  CONSTRAINT [DF_budgets_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_sort_order]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[idempotency_records] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoice_items] ADD  CONSTRAINT [DF_invoice_items_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[invoice_items] ADD  CONSTRAINT [DF_invoice_items_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoice_items] ADD  CONSTRAINT [DF_invoice_items_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[invoices] ADD  CONSTRAINT [DF_invoices_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[invoices] ADD  CONSTRAINT [DF_invoices_source]  DEFAULT ('UPLOAD') FOR [source]
GO
ALTER TABLE [dbo].[invoices] ADD  CONSTRAINT [DF_invoices_status]  DEFAULT ('UPLOADED') FOR [status]
GO
ALTER TABLE [dbo].[invoices] ADD  CONSTRAINT [DF_invoices_currency]  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[invoices] ADD  CONSTRAINT [DF_invoices_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoices] ADD  CONSTRAINT [DF_invoices_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ocr_jobs] ADD  CONSTRAINT [DF_ocr_jobs_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[ocr_jobs] ADD  CONSTRAINT [DF_ocr_jobs_status]  DEFAULT ('QUEUED') FOR [status]
GO
ALTER TABLE [dbo].[ocr_jobs] ADD  CONSTRAINT [DF_ocr_jobs_attempt_count]  DEFAULT ((0)) FOR [attempt_count]
GO
ALTER TABLE [dbo].[ocr_jobs] ADD  CONSTRAINT [DF_ocr_jobs_progress]  DEFAULT ((0)) FOR [progress_percent]
GO
ALTER TABLE [dbo].[ocr_jobs] ADD  CONSTRAINT [DF_ocr_jobs_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ocr_jobs] ADD  CONSTRAINT [DF_ocr_jobs_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[password_reset_otps] ADD  DEFAULT ((0)) FOR [failed_attempts]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  CONSTRAINT [DF_refresh_tokens_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  CONSTRAINT [DF_refresh_tokens_family_id]  DEFAULT (newid()) FOR [family_id]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  CONSTRAINT [DF_refresh_tokens_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[schema_migrations] ADD  DEFAULT (sysutcdatetime()) FOR [applied_at]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[transactions] ADD  CONSTRAINT [DF_transactions_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[transactions] ADD  CONSTRAINT [DF_transactions_source]  DEFAULT ('MANUAL') FOR [source]
GO
ALTER TABLE [dbo].[transactions] ADD  CONSTRAINT [DF_transactions_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[transactions] ADD  CONSTRAINT [DF_transactions_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[transactions] ADD  CONSTRAINT [DF_transactions_kind]  DEFAULT ('NORMAL') FOR [kind]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_id]  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_role]  DEFAULT ('USER') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [must_change_password]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_token_version]  DEFAULT ((0)) FOR [token_version]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK_accounts_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK_accounts_user]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_user]
GO
ALTER TABLE [dbo].[budgets]  WITH CHECK ADD  CONSTRAINT [FK_budgets_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[budgets] CHECK CONSTRAINT [FK_budgets_category]
GO
ALTER TABLE [dbo].[budgets]  WITH CHECK ADD  CONSTRAINT [FK_budgets_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[budgets] CHECK CONSTRAINT [FK_budgets_user]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK_categories_owner_user] FOREIGN KEY([owner_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK_categories_owner_user]
GO
ALTER TABLE [dbo].[email_logs]  WITH CHECK ADD  CONSTRAINT [FK_email_logs_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[email_logs] CHECK CONSTRAINT [FK_email_logs_users]
GO
ALTER TABLE [dbo].[idempotency_records]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD  CONSTRAINT [FK_invoice_items_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[invoice_items] CHECK CONSTRAINT [FK_invoice_items_invoice]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_account]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_category]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_parent]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_user]
GO
ALTER TABLE [dbo].[ocr_jobs]  WITH CHECK ADD  CONSTRAINT [FK_ocr_jobs_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[ocr_jobs] CHECK CONSTRAINT [FK_ocr_jobs_invoice]
GO
ALTER TABLE [dbo].[ocr_jobs]  WITH CHECK ADD  CONSTRAINT [FK_ocr_jobs_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ocr_jobs] CHECK CONSTRAINT [FK_ocr_jobs_user]
GO
ALTER TABLE [dbo].[password_reset_otps]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_otps_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_otps] CHECK CONSTRAINT [FK_password_reset_otps_users]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_refresh_tokens_parent] FOREIGN KEY([parent_token_id])
REFERENCES [dbo].[refresh_tokens] ([id])
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_refresh_tokens_parent]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_refresh_tokens_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_refresh_tokens_user]
GO
ALTER TABLE [dbo].[system_settings]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_account]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_category]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_invoice]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_user]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [CK_accounts_type] CHECK  (([account_type]='OTHER' OR [account_type]='INVESTMENT' OR [account_type]='SAVINGS' OR [account_type]='CREDIT_CARD' OR [account_type]='E_WALLET' OR [account_type]='CRYPTO' OR [account_type]='CASH' OR [account_type]='BANK'))
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [CK_accounts_type]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [CK_audit_logs_metadata_json] CHECK  (([metadata_json] IS NULL OR isjson([metadata_json])=(1)))
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [CK_audit_logs_metadata_json]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [CK_audit_logs_new_json] CHECK  (([new_values_json] IS NULL OR isjson([new_values_json])=(1)))
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [CK_audit_logs_new_json]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [CK_audit_logs_old_json] CHECK  (([old_values_json] IS NULL OR isjson([old_values_json])=(1)))
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [CK_audit_logs_old_json]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [CK_audit_logs_status_code] CHECK  (([status_code] IS NULL OR [status_code]>=(100) AND [status_code]<=(599)))
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [CK_audit_logs_status_code]
GO
ALTER TABLE [dbo].[budgets]  WITH CHECK ADD  CONSTRAINT [CK_budgets_amount_limit] CHECK  (([amount_limit]>(0)))
GO
ALTER TABLE [dbo].[budgets] CHECK CONSTRAINT [CK_budgets_amount_limit]
GO
ALTER TABLE [dbo].[budgets]  WITH CHECK ADD  CONSTRAINT [CK_budgets_currency_vnd] CHECK  (([currency]='VND'))
GO
ALTER TABLE [dbo].[budgets] CHECK CONSTRAINT [CK_budgets_currency_vnd]
GO
ALTER TABLE [dbo].[budgets]  WITH CHECK ADD  CONSTRAINT [CK_budgets_dates] CHECK  (([end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[budgets] CHECK CONSTRAINT [CK_budgets_dates]
GO
ALTER TABLE [dbo].[budgets]  WITH CHECK ADD  CONSTRAINT [CK_budgets_period_type] CHECK  (([period_type]='CUSTOM' OR [period_type]='YEARLY' OR [period_type]='MONTHLY' OR [period_type]='WEEKLY'))
GO
ALTER TABLE [dbo].[budgets] CHECK CONSTRAINT [CK_budgets_period_type]
GO
ALTER TABLE [dbo].[budgets]  WITH CHECK ADD  CONSTRAINT [CK_budgets_warning_percent] CHECK  (([warning_percent]>(0) AND [warning_percent]<=(100)))
GO
ALTER TABLE [dbo].[budgets] CHECK CONSTRAINT [CK_budgets_warning_percent]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [CK_categories_type] CHECK  (([type]='EXPENSE' OR [type]='INCOME'))
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [CK_categories_type]
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD  CONSTRAINT [CK_invoice_items_confidence] CHECK  (([confidence] IS NULL OR [confidence]>=(0) AND [confidence]<=(1)))
GO
ALTER TABLE [dbo].[invoice_items] CHECK CONSTRAINT [CK_invoice_items_confidence]
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD  CONSTRAINT [CK_invoice_items_line_no] CHECK  (([line_no]>(0)))
GO
ALTER TABLE [dbo].[invoice_items] CHECK CONSTRAINT [CK_invoice_items_line_no]
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD  CONSTRAINT [CK_invoice_items_quantity] CHECK  (([quantity] IS NULL OR [quantity]>=(0)))
GO
ALTER TABLE [dbo].[invoice_items] CHECK CONSTRAINT [CK_invoice_items_quantity]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [CK_invoices_confidence] CHECK  (([ocr_confidence] IS NULL OR [ocr_confidence]>=(0) AND [ocr_confidence]<=(1)))
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [CK_invoices_confidence]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [CK_invoices_extracted_json] CHECK  (([extracted_json] IS NULL OR isjson([extracted_json])=(1)))
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [CK_invoices_extracted_json]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [CK_invoices_file_size] CHECK  (([file_size_bytes] IS NULL OR [file_size_bytes]>=(0)))
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [CK_invoices_file_size]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [CK_invoices_not_self_parent] CHECK  (([parent_id] IS NULL OR [parent_id]<>[id]))
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [CK_invoices_not_self_parent]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [CK_invoices_source] CHECK  (([source]='IMPORT' OR [source]='MANUAL' OR [source]='CAMERA' OR [source]='UPLOAD'))
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [CK_invoices_source]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [CK_invoices_status] CHECK  (([status]='ARCHIVED' OR [status]='FAILED' OR [status]='CONFIRMED' OR [status]='REVIEW_REQUIRED' OR [status]='PROCESSING' OR [status]='UPLOADED'))
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [CK_invoices_status]
GO
ALTER TABLE [dbo].[ocr_jobs]  WITH CHECK ADD  CONSTRAINT [CK_ocr_jobs_attempt_count] CHECK  (([attempt_count]>=(0)))
GO
ALTER TABLE [dbo].[ocr_jobs] CHECK CONSTRAINT [CK_ocr_jobs_attempt_count]
GO
ALTER TABLE [dbo].[ocr_jobs]  WITH CHECK ADD  CONSTRAINT [CK_ocr_jobs_processing_ms] CHECK  (([processing_ms] IS NULL OR [processing_ms]>=(0)))
GO
ALTER TABLE [dbo].[ocr_jobs] CHECK CONSTRAINT [CK_ocr_jobs_processing_ms]
GO
ALTER TABLE [dbo].[ocr_jobs]  WITH CHECK ADD  CONSTRAINT [CK_ocr_jobs_progress] CHECK  (([progress_percent]>=(0) AND [progress_percent]<=(100)))
GO
ALTER TABLE [dbo].[ocr_jobs] CHECK CONSTRAINT [CK_ocr_jobs_progress]
GO
ALTER TABLE [dbo].[ocr_jobs]  WITH CHECK ADD  CONSTRAINT [CK_ocr_jobs_request_json] CHECK  (([request_json] IS NULL OR isjson([request_json])=(1)))
GO
ALTER TABLE [dbo].[ocr_jobs] CHECK CONSTRAINT [CK_ocr_jobs_request_json]
GO
ALTER TABLE [dbo].[ocr_jobs]  WITH CHECK ADD  CONSTRAINT [CK_ocr_jobs_response_json] CHECK  (([response_json] IS NULL OR isjson([response_json])=(1)))
GO
ALTER TABLE [dbo].[ocr_jobs] CHECK CONSTRAINT [CK_ocr_jobs_response_json]
GO
ALTER TABLE [dbo].[ocr_jobs]  WITH CHECK ADD  CONSTRAINT [CK_ocr_jobs_status] CHECK  (([status]='CANCELLED' OR [status]='FAILED' OR [status]='COMPLETED' OR [status]='PROCESSING' OR [status]='QUEUED'))
GO
ALTER TABLE [dbo].[ocr_jobs] CHECK CONSTRAINT [CK_ocr_jobs_status]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [CK_refresh_tokens_expiry] CHECK  (([expires_at]>[created_at]))
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [CK_refresh_tokens_expiry]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [CK_transactions_amount_sign] CHECK  (([type]='INCOME' AND [amount]>(0) OR [type]='EXPENSE' AND [amount]<(0)))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [CK_transactions_amount_sign]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [CK_transactions_kind] CHECK  (([kind]='ADJUSTMENT' OR [kind]='TRANSFER' OR [kind]='NORMAL'))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [CK_transactions_kind]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [CK_transactions_source] CHECK  (([source]='SYSTEM' OR [source]='IMPORT' OR [source]='OCR' OR [source]='MANUAL'))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [CK_transactions_source]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [CK_transactions_transfer_link] CHECK  (([kind]='TRANSFER' AND [transfer_id] IS NOT NULL OR [kind]<>'TRANSFER' AND [transfer_id] IS NULL))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [CK_transactions_transfer_link]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [CK_transactions_type] CHECK  (([type]='EXPENSE' OR [type]='INCOME'))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [CK_transactions_type]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='ADMIN' OR [role]='USER'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
USE [master]
GO
